Student {
    font-family: Arial, sans-serif;
    display: block;
    padding:20px;
    padding: 15px;
    background-color:#f3f4f6;
    border:15px;
    border:2px solid #007BFF;
    border-radius:8px;
    margin-bottom:20px;

}

StudentName {
    font-size: 20px;
    font-weight: bold;
    color: navy;
    display: block;
    border: 1px solid #f8efe9;
    background-color: #f7edf2;
}

PersonalInfo, Result {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border-left:5px solid #28a745;
    background-color: #f7edf2;
}

Address, Birthdate, Gender, MobileNo {
    display: block;
    margin-bottom: 5px;
}


Result {
    display: block;
    color: darkgreen;
    font-weight: bold;
}

Total, Percentage, Grade{
    display: block;
    margin-bottom: 5px;
}